extends ../base.pug

append title
  | Causas
append content
  .causes.container
    h1.causes-title
      figure
        img(src="img/logo-black.png")
      span con causa
    .causes-content
      div
        p
          | En Cinca ® queremos aportar mas a la sociedad en la que vivimos, por ello nos llena de orgullo
          | que cada uno de nuestros productos aporte un granito de arena a diferentes causas.
        p
          | Para nosotros todo vale la pena si somos capaces de hacer una pequeña diferencia en
          | la vida de un solo ser.
      figure
        img(src="img/causes.png")