extends ../base.pug

append title
  | Heartopos de Coliflor
append content
  #modalOne.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalOne').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/heartopos-gluten.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/heartopos-gluten.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>
  #modalTwo.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalTwo').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/heartopos-ogm.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/heartopos-ogm.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>
  #modalThree.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalThree').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/heartopos-pesticidas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/heartopos-pesticidas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>
  .product-detail.container
    h1.product-detail-title Heartopos de <br> <span>Coliflor</span>
    figure.product-detail-image
      img.desktop(src="img/products-detail-heartopos.png")
      img.mobile(src="img/products-detail-heartopos-mobile.png")
    .product-detail-stamps
      img(src="img/sello-gluten.png" onclick="document.getElementById('modalOne').style.display='flex'")
      img(src="img/sello-ogm.png" onclick="document.getElementById('modalTwo').style.display='flex'")
      img(src="img/sello-pesticidas.png" onclick="document.getElementById('modalThree').style.display='flex'")