extends ../base.pug

append head_scripts
  script(src="https://www.google.com/recaptcha/api.js?render")
append title
  | Inicio
append content
  .home
    .home-banner
      img(src="img/banner.png")
    .home-mosaic
      .home-mosaic-big.home-mosaic-products
        .layer
        a(href="/products.html")
          span Productos
      .home-mosaic-big.home-mosaic-video
        video(
          autoplay playsinline loop muted
          preload="metadata"
          src="https://res.cloudinary.com/zerocloud/video/upload/v1620352582/home-video-3_bgajky.mp4"
          poster="img/video-home-cover.png"
        )
          source(src="https://res.cloudinary.com/zerocloud/video/upload/v1620352582/home-video-3_bgajky.mp4", type='video/mp4')
      .home-mosaic-small
        figure
          img(src="img/home-venta.png")
        .home-mosaic-link
          a(href="/sale.html").sell
            span Puntos<br>de Venta
      .home-mosaic-small.home-mosaic-image-chips
      .home-mosaic-small
        figure
          img(src="img/home-contacto.png")
        .home-mosaic-link
          a(href="#contact").contact
            span Contacto
      .home-mosaic-small.home-mosaic-image-chipotle
      .home-mosaic-small
        figure
          img(src="img/home-recetario.png")
        .home-mosaic-link
          a(href="/recipes.html").recipes
            span Recetas
    .home-info#love
      .layer
      .home-info-text
        p
          | <span>Cinca<sup>®</sup></span> nace de la <strong>unión</strong>, del <strong>amor</strong> y del
          | <strong>trabajo duro</strong>. Sus cimientos residen en <strong>cuatro manos</strong> y
          | <strong>apoyo mutuo</strong>, por eso reconocemos el esfuerzo que conlleva lograr tus
          | objetivos, sean cuales sean. Así, mientras logramos nuestras propias <strong>metas</strong>
          | y <strong>sueños</strong>, hemos encontrado la forma de <strong>acompañarte</strong> y
          | <strong>facilitarte</strong> el camino a una <strong>vida más saludable</strong>.
        p
          | <span>Cinca<sup>®</sup></span> esta <strong>hecho con amor</strong>, al igual que cada uno de
          | nuestros productos; porque al final, <span>Cinca<sup>®</sup></span> es más que <strong>productos
          | saludables de alta calidad</strong>, <span>Cinca<sup>®</sup></span> son <strong>dos personas</strong>
          | que se convirtieron en <strong>decenas</strong>, construyendo una marca que hoy ha
          | <strong>trascendido fronteras, hogares</strong> y muchos <strong>corazones</strong>.
      figure.home-info-image
        img(src="img/made-with-love-purple.png")
    .home-actions
      .home-actions-social
        h1 Contacto
        p <i class="icon-envelope contact-icon"></i> marketing@cinca.com.mx
        p ¿Te gustaria ser proveedor?
        p <i class="icon-envelope contact-icon"></i> proveedores@cinca.com.mx
        p
          | Teléfonos: <br>
          | <i class="icon-phone-alt contact-icon"></i>5543540132 <br>
          | <i class="icon-phone-alt contact-icon"></i>5565145853
        p
          a(href="https://www.facebook.com/cincamx" target="_blank").icon
            i.icon-facebook
          a(href="https://www.instagram.com/cincamx/" target="_blank").icon
            i.icon-instagram
      #contact.home-actions-form
        form#contactForm(method="POST" action="https://formspree.io/f/xdoyalpv")
          label(for="name") Nombre *
          input(type="text" id="name" name="Nombre" required)
          label(for="email") Correo Electrónico *
          input(type="email" id="email" name="Email" required)
          label(for="phone") Teléfono
          input(type="text" id="phone" name="Telefono" required)
          label(for="message") Mensaje *
          input(type="hidden" name="_subject" value="Nuevo Contacto desde Pagina Web")
          textarea(id="message" name="Mensaje" required)
          div.g-recaptcha(data-sitekey="6LfFacQaAAAAACZ0K8ivNnH_-lGnu2X5f7w2uBrB" )
          p#contactFormStatus Pendiente
          button#contactFormBtn Enviar
