extends ../base.pug

append title
  | Productos
append content
  .products.container
    .products-banner
      h1 Nuestros Productos
      h2
        | En Cinca cuidamos de ti, por ello estamos comprometidos a brindarte productos de
        | alta calidad elaborados con ingredientes 100% naturales para que puedas disfrutar
        | de tus platillos favoritos sin culpa y <img src="img/logo-black.png">mbiar tu antojo
    .products-container
      .products-item
        a(href="/totopos-2.html")
          figure
            img(src="img/products-cover-totopos-2.png")
          p
            | Nuestro tradicionales <span>totopos</span> ¡Ahora con proteína vegetal!
      .products-item
        a(href="/tortillas.html")
          figure
            img(src="img/products-cover-tortilla.png")
          p
            | Suavecitas y deliciosas, ¿Ya probaste nuestras <span>tortillas</span>?
      .products-item
        a(href="/totopos.html")
          figure
            img(src="img/products-cover-totopos.jpg")
          p
            | ¿Ya estas pensando en chilaquiles saludables? <br> Prepara tus platillos favoritos en
            | su bersión mas saludable con estos crujientes y deliciosos <span>totopos</span>.
      .products-item
        a(href="/heartopos.html")
          figure
            img(src="img/products-cover-heartopos.jpg")
          p Que tu ingrediente secreto sea el amor hecho <span>totopo</span>.
      .products-item
        a(href="/tostadas.html")
          figure
            img(src="img/products-cover-tostadas.jpg")
          p
            | Deliciosas, crujientes, horneadas y llenas de oportunidades para que acompañes tus
            | comidas favoritas.
      .products-item-multiple
        .products-item-multiple-images
          a(href="/meteorito.html")
            figure
              img(src="img/products-cover-chips-chile.jpg")
          a(href="/chipotle.html")
            figure
              img(src="img/products-cover-chips-chipotle.jpg")
        .products-item-multiple-text
          | ¿Botanear sin culpa? Cinca te entiende y tenemos dos opciones para tu antojo picosito.