extends ../base.pug

append title
  | Recetas
append content
  #modalOne.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalOne').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li 1 caja de tostadas Cinca
        li 2 latas de atún en agua
        li ¼ de apio picado en rebanadas
        li 1 jitomate saladet en cubitos
        li ½ cebolla morada fileteada
        li 1 aguacate en cubitos
        li 3 limones
        li ½ cdita de levadura nutricional
        li 2 cdas de aceite de oliva
        li Sal y pimienta al gusto
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li Abre las latas de atún y cuela el líquido
        li
          | Coloca en un tazón el atún, el apio, el jitomate, la cebolla, el jugo de los tres limones, la
          | levadura nutricional y el aceite de oliva. Mezcla perfectamente
        li Sirve ensalada de atún en las tostadas Cinca y disfruta.

  #modalTwo.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalTwo').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li Totopos de coliflor Cinca
        li 2 huevos
        li 1⁄4 de aguacate
        li 1⁄2 taza de salsa verde
        li 50 gramos de frijoles enteros Sal, al gusto
        li Pimienta, al gusto
        li Crema baja en grasa (opcional)
        li Queso panela rallado (opcional)
      p Para la Salsa:
      ul
        li 4 jitomates rojos
        li 1⁄2 chile serrano
        li 1 chile de arbol sin semillas (opc)
        li 1 diente de ajo
        li 1⁄4 de cebolla
        li 1⁄2 de un manojo de cilantro
        li 750ml de caldo de pollo
        li Sal
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li
          | En una olla, hierve el caldo de pollo junto con los jitomates, los chiles, la cebolla y el
          | ajo, una vez hirviendo deja por 15 minutos.
        li
          | Transfiere los jitomates, el chile, la cebolla y el ajo a una licuadora junto con la mitad
          | del caldo hervido. Agrega sal y licua perfectamente.
        li Coloca los totopos dentro de un bowl.
        li
          | Cocina los huevos en un sartén a fuego medio, agrega
          | sal y pimienta al gusto. Una vez cocidos, retirarlas del fuego y colócalas sobre los totopos.
        li Vierte la salsa en los totopos.
        li Calienta los frijoles y agregalos al tazón.
        li Corta el aguacate y colócalo sobre los totopos
        li Puedes acompañar con un poco de queso panela y 1 cucharadita de crema baja en grasa.


  #modalThree.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalThree').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li 1 bolsa de heartopos
        li 200g de almendras enteras peladas
        li ¾ a 1 taza de agua
        li 2 limones
        li 1 cdita de ajo
        li 1 cdita de levadura nutricional
        li Sal al gusto
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li Coloca las almendras en un tazón y cubre con suficiente agua. Deja remojar por 12 horas
        li Una vez remojadas, cuela para quitar el exceso de agua y reserva las almendras.
        li
          |  Coloca las almendras remojadas en un procesador de alimentos y añade el jugo de
          | limón, ajo en polvo, levadura nutricional, agua y sal.
        li Muele hasta obtener una crema.
        li Rectifica el sabor y ajústalo a tu gusto.
        li Sire con heartopos y disfruta.
  #modalFour.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalFour').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li 1 o 2 bolsas de Cincas Chipotle o Meteorito. (O los dos)
        li 4 tazas de elote desgranado crudo
        li 2 chiles árbol
        li 4 hojas de epazote
        li 1 cdita de mantequilla o ghee
        li ¼ cebolla picada muy finamente
        li 1 diente de ajo picado muy finamente
        li Pimienta y sal al gusto
        li Queso rayado y limón para acompañar (opcional)
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li Coloca la mantequilla o ghee en el sartén y agrega la cebolla el ajo y los chiles de árbol.
        li Agrega los granos de elote, el agua y el epazote.
        li Sazona con sal y pimienta.
        li Cocina por 30 minutos o hasta que los granos de elote esten suaves.
        li Srive tus Cincas en bowl y agrega la preparación de elote.
        li Acompáñalo con lo que más te guste y disfruta.
  #modalFive.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalFive').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li Tortillas Cinca
        li Pechuga de pollo cocida deshebrada
        li Salsa verde
        li 1⁄4 de aguacate
        li Cilantro, al gusto
        li Cebolla, al gusto
        li Queso panela, rallado
      p Para la Salsa
      ul
        li 8 tomates verde
        li 1⁄2 chile serrano
        li 1 diente de ajo
        li 1⁄4 de cebolla
        li 1⁄2 de un manojo de cilantro
        li 750ml de agua o caldo de pollo
        li Sal
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li En una olla, hierve el agua junto con los tomates, el chile, la cebolla y el ajo, una vez hirviendo deja por 15 minutos.
        li Coloca los tomates, el chile, la cebolla y el ajo a una licuadora junto con la mitad del agua hervida. Agrega el cilantro y licua perfectamente.
        li Vierte la mezcla de nuevo en la olla y deja hervir por 10 minutos más. Sazona con sal.
        li Calienta las tortillas de coliflor Cinca y sumergelas en la salsa.
        li Rellena las tortillas con el pollo deshebrado y enrolla.
        li Sirve en un plato y baña con salsa más salsa. Espolvorea un poco de queso panela, cilantro y cebolla.
  #modalSix.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalSix').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li Tortillas de coliflor Cinca
        li 450 gramos de pollo molido
        li 2 cucharadas de aceite de oliva
        li 1 cebolla grande, picada
        li 4 dientes de ajo, picados
        li 1 cucharada de soya
        li 1/4 taza de salsa hoisin
        li 2 cucharaditas de jengibre fresco, picado
        li 1 cucharada de vinagre de arroz
        li 2 cucharaditas de aceite de ajonjolí
        li 2 ramas de cebollín picadas
        li 2 Zanahorias picadas en cuadros pequeños
        li Cacahuates tostados, al gusto
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li
          | En un sartén grande, a fuego medio-alto, calienta 1 cucharada de aceite de oliva, la cebolla, el ajo y
          | la zanahoria en cuadros, muévelo para evitar que se quemen.
        li Cuando la cebolla luzca transparente Agrega el pollo molido y mezcla.
        li
          | Una vez que el pollo luzca cocinado, agrega la salsa de soya, la salsa hoisin, el
          | jengibre, el vinagre de arroz,el aceite de ajonjolí y los cacahuates tostados.
        li Mueve por un par de minutos y retira del fuego.
        li Sirve el relleno en tortillas, con el cebollin encima
  #modalSeven.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalSeven').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li 1 paquete de Tostadas o heartopos Cinca
        li 1 paquete de cubitos de atún (200gr)
        li 1 cda de aceite de oliva
        li 1 cda de soya
        li 1 chile verde (opcional)
        li Jugo de 2 limones
        li Mango en cubos
        li Aguacate en cubitos
        li Cebolla picada
        li Cilantro picado
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li En un tazón, mezcla la soya, el aceite de oliva, el limón, la cebolla, el cilantro y el chile serrano.
        li Coloca los cubos de atún en un bowl y comienza a verter, poco a poco, la salsa preparada.
        li Agrega el aguacate y mango en cubos.
        li Sirve en un plato hondo y disfruta.
        li Puedes acompañarlo con heartopos o tostadas de coliflor Cinca
  #modalEight.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalEight').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li Tortillas Cinca
        li 2 tazas de flor de jamaica hervida
        li ½ taza de cebolla picada
        li 1 chile serrano picado
        li ¼ de taza de cilantro picado
        li 1 cucharadita de aceite de oliva
        li Limón
        li Salsa
        li Aguacate
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li Hierve la jamaica.
        li Calienta un sartén y agrega el aceite.
        li Agrega la cebolla y muévela.
        li Pica la jamaica.
        li
          | Una vez que la cebolla esté dorada, agrega la jamaica y el chile serrano picado,
          | sazona con sal y mezcla bien.
        li Sirve la jamaica sobre las tortillas para hacer tacos. Agrega limón, salsa y cilantro al gusto
  #modalNine.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalNine').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li 1 paquete de tostadas Cinca
        li 1⁄2 kilo de carne, deshebrada y cocida
        li 4 ramas de cilantro, picado
        li 2 jitomates, picados
        li 1⁄2 cebolla, picada
        li 1 chiles serrano (grande)
        li Jugo de 2 limones
        li 1 cucharada de aceite de oliva Sal, al gusto
        li Pimienta, al gusto
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li
          | En un bowl, agrega la carne deshebrada y mezcla con la cebolla, el cilantro, los jitomates, el chile,
          | el jugo de los limones, el aceite de oliva, la sal y la pimienta.
        li Mezcla hasta que todos los ingredientes estén completamente integrados.
        li Sirve sobre tus tostadas de coliflor Cinca y agrega aguacate.
  #modalTen.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalTen').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li Tortillas Cinca
        li 1⁄2 kilo de pollo en cubitos
        li 2 cebollas chicas (o 1 grande)
        li 1 pimiento rojo
        li 1 pimiento amarillo
        li 1 cucharada de aceite de oliva
        li 1 cucharadita de caldo de pollo
        li 2 cucharadas de salsa tipo inglesa
        li 2 cucharadas de salsa Maggi
        li Pimienta, al gusto
        li Sal, al gusto
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li
          | Corta la cebolla y los pimientos en tiras delgadas. Una vez cortados, coloca la cebolla
          | en una sartén previamente engrasada con un poco de aceite de oliva y sofríe hasta que
          | tome un color dorado.
        li Agrega los pimientos y mezcla durante 5 minutos aproximadamente.
        li Agrega el pollo, sazona con un poco de sal y pimienta y mezcla bien.
        li
          | Agrega 1 cucharadita de caldo de pollo, 2 cucharadas de salsa Maggi y 2 cucharadas
          | de salsa tipo inglesa. Mezcla.
        li Sirve en las tortillas Cinca para formar tacos
        li Acompaña con aguacate, limón y salsa
  #modalTenOne.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalTenOne').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li 1 mango
        li 1 aguacate
        li Jugo de 2 limones
        li ½ cebolla morada
        li 1 chile serrano
        li 1 jícama
        li 2 ramitas de cilantro
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li Pica en cubos chicos el mango, el aguacate, la jícama y la cebolla.
        li Pon los ingredientes dentro de un bowl y agrega el jugo de limón, el cilantro y el chile.
        li Sazona con un sal al gusto.
        li Acompáñalo con heartopos o tostadas cinca.
  #modalTenTwo.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalTenTwo').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li 450 gramos de arroz con coliflor fresco
        li 1 cebolla pequeña, finamente picada
        li 1 diente de ajo, picado
        li 1 cucharada de jengibre, picado
        li 1 zanahoria grande, cortadaen cubitos
        li 2 cucharadas de aceite de ajonjolí
        li 4 huevos grandes
        li 1 cucharada de miel o jarabe de maple
        li 3 cucharadas de salsa de soya
        li 3 ramitas de cebollín, finamente picadas
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li En un sartén grande, calienta el aceite de ajonjolí a fuego medio-alto.
        li
          | Agrega la cebolla, el ajo, el jengibre y la zanahoria, cocina durante 4-5 minutos
          | revolviendo para que no se quemen.
        li Coloca las verduras a un lado del sartén y agrega los huevos. Cocina, revolviendo constantemente.
        li Agrega el arroz de coliflor, revuelve y cocina hasta que esté bien caliente
        li Haz el arroz de coliflor a un lado y agrega la miel y la salsa de soya. Mezcla todos los ingredientes.
        li Espolvorea con cebollín y sirve.
  #modalTenThree.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalTenThree').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li Tortillas de coliflor Cinca
        li ½ paquete de tofu
        li 1 cda de aceite de oliva
        li El jugo y cáscara de un limón
        li ½ diente de ajo en pedacitos
        li Paprika al gusto
        li Comino al gusto
        li Sal al gusto
        li Pimienta al gusto
        li Col morada en rebanadas
        li 4 cdas de guacamole
        li ¼ taza de granos de elotes asados
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li
          | Corta el tofu en fajitas o cubos. Para quitar el exceso de agua de tofu, puedes
          | presionarlo con unas toallas de papel.
        li
          | En un bol, marina el tofu con el aceite de oliva, el jugo y cáscara de limón, ajo, paprika,
          | comino, sal y pimienta. Deja marinar por 15 minutos.
        li
          | En un sartén caliente, asa el tofu marinado por 2 minutos aproximadamente de cada
          | lado. Retira del fuego y agrega el maridaje para darle más sabor.
        li Prepara el guacamole y asa los granitos de elote.
        li
          | Calienta las tortillas y prepara tus tacos con tofu, agrega encima la col morada,
          | guacamole, jalapeño y los granos de elote asados.
  #modalTenFour.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalTenFour').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li Totopos de coliflor Cinca
        li 3 cdas de hemp
        li ½ agucate
        li 4 jitomates
        li 1 chile serrano (opcional)
        li ½ diente de ajo
        li ¼ de cebolla
        li ¼ taza de perejil
        li Sal al gusto
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      li En una cacerola, pon a hervir agua. Agrega los jitomates y el chile serrano
      li Retira hasta que estén bien cocidos y deja enfriar.
      li Licúa los jitomates, el chile serrano, el diente de ajo, la cebolla, perejil y sazona.
      li En un sartén, calienta 1 cdta de aceite y agrega la salsa de jitomate.
      li Cuando empiece a hervir, apaga y retira del fuego.
      li Pon los totopos en un plato, agrega la salsa casera, el hemp y el aguacate encima.
  #modalTenFive.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalTenFive').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li 3 o 4 tortillas de coliflor Cinca
        li 2 puños grandes de espinacas
        li ½ pepino cortado en juliana
        li 1 pimiento cortado en juliana
        li Perejil fresco
      p Hummus de Espinacas:
      ul
        li 1 lata de garbanzos
        li ¼ taza de agua
        li 3 cdas de jugo de limón
        li 2 cdas de tahini
        li 1 diente de ajo
        li Sal al gusto
        li ¼ taza de perejil fresco
        li ¼cdta de comino
        li ¼ cdta de paprika
        li 1 ½ taza de espinacas
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ul
        li
          | Mezcla todos los ingredientes del hummus en un procesador de alimentos, agrega las
          | espinacas al último.
        li Prepara las tortillas en un plato, agrega el humus en las 3 tortillas, y dispersa.
        li Agrega las hojas de espinacas, pepino, pimientos y pereji.
        li Enrolla los wraps y disfruta
  #modalTenSix.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalTenSix').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li Tortillas de coliflor cinca
        li 2 portobellos medianos en rebanadas
        li 1 cdta de aceite de oliva
        li ½ cdta de salsa tamari
        li 1 cdta de vinagre balsámico
        li Pimienta al gusto
        li ½ aguacate
        li ½ taza de col morada rayada
        li 1 puño de cilantro
        li ½ jalapeño en rebanadas (opcional)
        li salsa macha (opcional)
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li En un bol mezcla los portobellos, el aceite de oliva, la salsa tamari, el vinagre balsámico, y pimienta.
        li Calienta el sartén y cocina los hongos por ambos lados.
        li
          | Arma los tacos con las tortillas, portobellos asados, aguacate, col morada, cilantro, jalapeños y
          | salsa si lo deseas.
  #modalTenSeven.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalTenSeven').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li 1 bolsa de heartopos.
        li 300 g de garbanzos.
        li 2 cucharadas de Tahini.
        li El jugo de 1 limón chico.
        li ½ cdita de comino en polvo.
        li ½ cdita de sal de mar.
        li 1 diente de ajo.
        li ¼ tza del agua en donde cocinaste los garbanzos.
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li Poner a remojar los garbanzos toda la noche, al día siguiente tirar el agua de remojo.
        li
          | En una olla poner a hervir agua y agregar los garbanzos, los cocinas
          | por 20 – 30 min aproximadamente.
        li Cuando ya están listos les reservas en un frasco y no tires el agua,
        li
          | En un procesador de alimentos o licuadora agregas los garbanzos junto con los demás
          | ingredientes y procesas por varios minutos, puedes agregar más agua dependiendo
          | de la consistencia que prefieras.
        li Sirve y disfruta con heartopos Cinca
  #modalTenEight.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalTenEight').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li Tortillas de coliflor Cinca
        li ½ tza de quínoa cocida
        li ¼ tza de frijol cocido
        li ½ zanahoria rayada
        li ½ calabaza rayada
      p Para el pico de gallo:
      ul
        li ½ tomate en cuadritos.
        li ¼ de cebolla en cuadritos.
        li 1 chile serrano finamente picado.
        li El jugo de 2 limones.
        li Sal al gusto
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li
          | Para preparar la Quínoa y el frijol primero déjalos remojando por lo menos 4 horas, tiras
          | el agua de remojo y después los cocinas en agua hirviendo durante 20 minutos, escurres
          | el agua y los dejas enfriar.
        li
          | Cuando estén fríos los mezclas con la zanahoria y calabacita rayada, condimentas con
          | un poco de limón, aceite de oliva, sal y pimienta
        li Para el pico de gallo mezclas todos los ingredientes y agrégales sal y limón.
        li
          | Rellenamos las tortillas con esta mezcla de quínoa y frijol. Pon encima un poco del pico
          | de gallo y disfruta.
  #modalTenNine.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalTenNine').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li Una bolsa de totopos de coliflor Cinca
        li 12 Jitomates
        li 5 Chiles morita sin semilla
        li 2 Chiles serrano
        li ¼ de cebolla
        li Sal al gusto
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li Pon agua a hervir y agrega el jitomate y los chiles.
        li
          | Si lo prefieres pela los jitomates y lleva todo a la licuadora menos el agua. Agrega la
          | cebolla y sal al gusto.
        li En la misma olla coloca una cucharada de aceite de oliva y vierte el contenido de la licuadora.
        li Dejalo a fuego medio-bajo por unos minutos.
        li Sirve tus totopos Cinca en un plato, báñalos con salsa y agrégale lo que más te guste.

  #modalTenTen.modal
    .modal-content
      span.close-modal(onclick="document.getElementById('modalTenTen').style.display='none'") &times
      p.recipes-content
        | <span>Ingredientes:</span>
      ul
        li 100gr de garbanzos cocidos
        li 1 betabel mediano cocido
        li El jugo de 1 limón
        li 3 ramitas de perejil
        li 1 diente de ajo
        li 2 cdas. De ajonjolí tostado
        li 4 cdas. De aceite de oliva
        li Sal y pimienta al gusto
      p.recipes-content
        | <span>Preparaci&oacute;n:</span>
      ol
        li Mezcla todos los ingredientes en un procesador o licuadora hasta formar obtener una consistencia cremosa.
        li Sazona al gusto con sal y pimienta.
        li Sirve y acompaña con heartopos Cinca.

  .recipes.container
    h1.recipes-title Recetario
    .recipes-container
      .recipes-item(onclick="document.getElementById('modalOne').style.display='flex'")
        .recipes-image(style="background: url(\"img/01-tostadas-de-atun.jpg\")")
        p Tostadas de atún
      .recipes-item(onclick="document.getElementById('modalTwo').style.display='flex'")
        .recipes-image(style="background: url(\"img/02-chilaquiles-rojos.jpg\")")
        p Chilaquiles rojos
      .recipes-item(onclick="document.getElementById('modalThree').style.display='flex'")
        .recipes-image(style="background: url(\"img/03-crema-vegana-de-almendra.jpg\")")
        p Crema vegana de almendra
      .recipes-item(onclick="document.getElementById('modalFour').style.display='flex'")
        .recipes-image(style="background: url(\"img/04-esqui-cincas.jpg\")")
        p Esqui-cincas
      .recipes-item(onclick="document.getElementById('modalFive').style.display='flex'")
        .recipes-image(style="background: url(\"img/05-enchiladas-verdes-con-pollo.jpg\")")
        p Enchiladas verdes con pollo
      .recipes-item(onclick="document.getElementById('modalSix').style.display='flex'")
        .recipes-image(style="background: url(\"img/06-tacos-de-pollo-orienta.jpg\")")
        p Tacos de pollo oriental
      .recipes-item(onclick="document.getElementById('modalSeven').style.display='flex'")
        .recipes-image(style="background: url(\"img/07-cubitos-de-atun.jpg\")")
        p Cubitos de atún
      .recipes-item(onclick="document.getElementById('modalEight').style.display='flex'")
        .recipes-image(style="background: url(\"img/08-tacos-de-jamaica.jpg\")")
        p Tacos de jamaica
      .recipes-item(onclick="document.getElementById('modalNine').style.display='flex'")
        .recipes-image(style="background: url(\"img/09-tostadas-de-salpicón-de-carne-de-res.jpg\")")
        p Tostadas de salpicón de carne de res
      .recipes-item(onclick="document.getElementById('modalTen').style.display='flex'")
        .recipes-image(style="background: url(\"img/10-alambre-de-pollo.jpg\")")
        p Alambre de pollo
      .recipes-item(onclick="document.getElementById('modalTenOne').style.display='flex'")
        .recipes-image(style="background: url(\"img/11-ceviche-de-mango.jpg\")")
        p Ceviche de mango
      .recipes-item(onclick="document.getElementById('modalTenTwo').style.display='flex'")
        .recipes-image(style="background: url(\"img/12-yakimeshi-de-coliflor.jpg\")")
        p Yakimeshi de coliflor
      .recipes-item(onclick="document.getElementById('modalTenThree').style.display='flex'")
        .recipes-image(style="background: url(\"img/13-tacos-de-tofu.jpg\")")
        p Tacos de tofu
      .recipes-item(onclick="document.getElementById('modalTenFour').style.display='flex'")
        .recipes-image(style="background: url(\"img/14-chilaquiles-rojos-saludables.jpg\")")
        p Chilaquiles rojos saludables
      .recipes-item(onclick="document.getElementById('modalTenFive').style.display='flex'")
        .recipes-image(style="background: url(\"img/15-wraps-con-humus-de-espinacas.jpg\")")
        p Wraps con humus de espinacas
      .recipes-item(onclick="document.getElementById('modalTenSix').style.display='flex'")
        .recipes-image(style="background: url(\"img/16-tacos-de-portobello.jpg\")")
        p Tacos de portobello
      .recipes-item(onclick="document.getElementById('modalTenSeven').style.display='flex'")
        .recipes-image(style="background: url(\"img/17-hummus.jpg\")")
        p Hummus
      .recipes-item(onclick="document.getElementById('modalTenEight').style.display='flex'")
        .recipes-image(style="background: url(\"img/18-tacos-de-germinados.jpg\")")
        p Tacos de germinados
      .recipes-item(onclick="document.getElementById('modalTenNine').style.display='flex'")
        .recipes-image(style="background: url(\"img/19-chilaquiles-en-salsa-de-chile-morita.jpg\")")
        p Chilaquiles en salsa de chile morita
      .recipes-item(onclick="document.getElementById('modalTenTen').style.display='flex'")
        .recipes-image(style="background: url(\"img/20-hummus-de-betabel.jpg\")")
        p Hummus de beta
