extends ../base.pug

append title
  | Tortillas de Coliflor
append content
  .product-detail.container
    h1.product-detail-title Tortillas de <br> <span>Coliflor</span>
    figure.product-detail-image
      img.desktop(src="img/products-detail-tortillas.png")
      img.mobile(src="img/products-detail-tortillas-mobile.png")