extends ../base.pug

append title
  | Totopos de Coliflor
append content
  #modalOne.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalOne').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/hiperpro-gluten.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-gluten.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>
  #modalTwo.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalTwo').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/hiperpro-ogm.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-ogm.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>
  #modalThree.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalThree').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/hiperpro-pesticidas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-pesticidas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>

  #modalFour.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalFour').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/hiperpro-toxinas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-metales.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>
  #modalFive.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalFive').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/hiperpro-metales.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-toxinas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>

  #modalSix.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalSix').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/hiperpro-soya.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-toxinas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>

  .product-detail.container
    h1.product-detail-title <span>Totopos de Coliflor</span> <br class='show'> con proteina vegetal
    figure.product-detail-image
      img.desktop(src="img/products-detail-totopos-2.png")
      img.mobile(src="img/products-detail-totopos-2-mobile.png")
    .product-detail-stamps
      img(src="img/sello-2-gluten.png" onclick="document.getElementById('modalOne').style.display='flex'")
      img(src="img/sello-2-ogm.png" onclick="document.getElementById('modalTwo').style.display='flex'")
      img(src="img/sello-2-pesticidas.png" onclick="document.getElementById('modalThree').style.display='flex'")
      img(src="img/sello-2-toxinas.png" onclick="document.getElementById('modalFour').style.display='flex'")
      img(src="img/sello-2-metales.png" onclick="document.getElementById('modalFive').style.display='flex'")
      img(src="img/sello-2-soya.jpeg" onclick="document.getElementById('modalSix').style.display='flex'")