html(lang='es')
  head
    title
      block title
      | &nbsp;|&nbsp;Cinca
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(charset='utf-8')
    link(rel='icon' type='image/png' href='img/favicon.png')
    include partials/meta
    include partials/analytics
    block head_scripts

  body
    div#page
      nav.nav
        .nav-container
          div.nav-logo-container
            a(href='/index.html')
              img.nav-logo(src='img/logo-white.png' alt='Navbar logo')
          .nav-option-wrapper
            .nav-option
              a(href='/index.html#love').nav-option-link
                span.bar Cinca
            .nav-option
              a(href='/products.html').nav-option-link
                span.bar Productos
            .nav-option
              a(href='/sale.html').nav-option-link
                span.bar Puntos de Venta
            .nav-option
              a(href='/causes.html').nav-option-link
                span.bar Causas
            .nav-option
              a(href='/index.html#contact').nav-option-link
                span Contacto
          .hamburger-wrapper
            .hamburger-line-container#hamburgerMenu
              .hamburger-line
              .hamburger-line
              .hamburger-line
          .hamburger-menu-container#menuContainer
            .hamburger-menu
              .hamburger-menu-header
                a#hideHamburger
                  img(src='img/close.svg')
              .hamburger-menu-body
                .hamburger-text-container
                  a(href='/index.html#love')
                    span.hamburger-text Cinca
                .hamburger-text-container
                  a(href='/products.html')
                    span.hamburger-text Productos
                .hamburger-text-container
                  a(href='/sale.html')
                    span.hamburger-text Puntos de Venta
                .hamburger-text-container
                  a(href='/causes.html')
                    span.hamburger-text Causas
                .hamburger-text-container
                  a(href='/index.html#contact')
                    span.hamburger-text Contacto
      div.page-content
        block content
      footer.footer
        span  CINCA ® 2021 | Todos los Derechos Reservados
      block scripts