.causes
  &-title
    text-align center
    font-family "Nexa Rust Script"
    color $cosmic
    font-size 4.5rem
    figure
      max-width 300px
      margin 0 auto -1rem auto
      @media $md
        max-width 240px
      @media $xs
        max-width 200px
  &-content
    display flex
    justify-content center
    align-items center
    @media $md
      flex-direction column
    p
      font-size 1.3rem
      margin 0 0 2rem 0
      @media $md
        text-align center