.home
  &-mosaic
    display flex
    flex-wrap wrap
    font-family Breamcatcher
    margin -6px 0 0 0
    &-big
      flex-basis 50%
      @media $xs
        flex-basis 100%
    &-small
      flex-basis 20%
      position relative
      @media $xs
        flex-basis 33.333%
      figure
        z-index 1
        height 100%
        img
          height 100%
    &-products
      display flex
      align-items center
      justify-content center
      background: url("../img/assets/home-products.png")
      background-size: cover
      position relative
      @media $xs
        padding 28.125% 0
        background: url("../img/assets/home-products-mobile.png")
      .layer
        background-color rgba(255,255,255, 0.7)
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index 1
      a
        z-index 2
        span
          color $cosmic
          font-size 4.5rem
          font-weight bold
          @media $sm
            font-size 3.5rem
          @media $xs
            font-size 3.5rem
    &-video
      video
        width 100%
        height 100%
    &-link
      a
        display flex
        flex-direction column
        justify-content center
        align-items center
        position absolute
        z-index 2
        width 100%
        height 100%
        top 0

        &.sell
        &.recipes
          color $cosmic
        &.contact
          color white
        span
          font-size 3.5rem
          font-weight bold
          text-align center
          @media $sm
            font-size 2.5rem
    &-image
      &-chips
        background: url("../img/recipes/03-crema-vegana-de-almendra.jpg")
        background-size: cover;
        @media $xs
          display none
      &-chipotle
        background: url("../img/products/products-cover-chips-chipotle.jpg")
        background-size: cover;
        @media $xs
          display none
  &-info
    display flex
    background: url("../img/recipes/01-tostadas-de-atun.jpg")
    background-size: cover
    position relative
    padding 40px 30px
    @media $xs
      flex-direction column
    .layer
      background-color rgba(255,255,255, 0.7)
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index 1
    &-text
    &-image
      display flex
      flex-direction column
      flex-basis 50%
      justify-content center
      align-items center
      z-index 2
      font-size 1.2rem
      text-align justify
      p
        margin 0 0 1rem 0
        font-weight $light
        span
        strong
          font-weight $regular
        span
          color $cosmic

      img
        width 80%
  &-actions
    display flex
    padding 40px 30px
    @media $xs
      flex-direction column
    &-social
      flex-basis 40%
      h1
        color $cosmic
        font-family "Nexa Rust Script"
        font-size 2.56rem
      p
        font-size 1.2rem
        margin 0 0 0.5rem 0
        font-weight $light
        line-height 1.5
        .contact-icon
          color $strike-master
          margin 0 0.3rem 0 0
        .icon
          font-size 3rem
          margin 0 1rem 0 0
          color $strike-master
    &-form
      flex-basis 60%
      form
        display flex
        flex-direction column
        label
          font-weight $semibold
          margin  0 0 0.3rem 0
        input
        textarea
          border 2px solid $cosmic
          padding 7px
          border-radius 5px
          margin 0 0 13px 0
          font-size 0.9rem
        #message
          resize none
          height 100px
        #contactFormStatus
          color $cosmic
          text-align center
          font-weight $medium
          font-size 1.5rem
          display none
        button
          align-self center
          font-size 1.3rem
          background-color $careys-pink
          color $cosmic
          font-weight $semibold
          padding 7px 80px
          border-radius 5px
          cursor pointer