.products
  &-banner
    overflow auto
    position relative
    display flex
    justify-content center
    align-items center
    flex-direction column
    h1
    h2
      z-index 2
      position relative
      text-align center
    h1
      font-family "Breamcatcher"
      color $cosmic
      font-size 4rem
      margin-bottom 0
    h2
      font-weight $light
      width 90%
      margin-bottom 1.5rem
      img
        width 64px
        @media $md
          width 54px
        @media $xs
          width 48px
  &-container
    display flex
    flex-wrap wrap
    justify-content space-around
    margin-top 2rem
  &-item
    flex-basis 27%
    margin 0 0 40px 0
    text-align center
    @media $md
      flex-basis 45%
    @media $xs
      flex-basis 98%
    figure
      max-width 316px
      margin 0 auto
    p
      text-align center
      font-weight $light
      margin 1rem 0 0 0
      color black
      font-size 1.20rem
      @media $sm
        font-size 1.4rem
      span
        font-weight $regular
        color $cosmic
    &-multiple
      flex-basis 60%
      @media $md
        flex-basis 100%
      &-images
        display flex
        justify-content space-between
        @media $xs
          flex-wrap wrap
        a
          flex-basis 44.5%
          @media $md
            flex-basis 47.5%
          @media $xs
            flex-basis 98%
            &:first-child
              margin-bottom 35px
        figure
          max-width 316px
          margin 0 auto
      &-text
        text-align center
        font-weight $light
        margin 1rem 0 0 0
        color black
        font-size 1.20rem
        @media $sm
          font-size 1.4rem

.product-detail
  &-modal
    object
      width 100%
      height 80vh
      a
       color $cosmic
  &-title
    text-align center
    font-family "Nexa Rust Script"
    color $cosmic
    font-size 4rem
    font-weight $light
    br
      display none
      &.show
        display block
    span
      font-family Breamcatcher
  &-image
    width 100%
    margin 0 auto
    display block
    @media $md
      width 100%
    @media $sm
      width 80%
    @media $xs
      width 100%

    .mobile
      display none
      @media $sm
        display block
    .desktop
      @media $sm
        display none
  &-stamps
    display flex
    width 60%
    margin 2rem auto 0 auto
    justify-content space-evenly
    flex-wrap wrap
    @media $sm
      width 80%
    img
      width 80px
      height auto
      cursor pointer
      margin-bottom 1.5rem
