.providers
  &-title
    text-align center
    font-family "Breamcatcher"
    color $cosmic
    font-size 4rem
  &-video
    width 50%
    display block
    @media $xs
      width 80%
      margin 0 0 30px 0
  &-filter
    display flex
    justify-content space-around
    align-items center
    margin 1rem 0 2rem 0
    @media $xs
      flex-direction column-reverse
    .select
      margin 0 1rem
      &-container
        margin 0 -10rem 0 0
        @media $lg
          margin 0 3rem 0 0
        @media $md
          margin 0
  &-municipality
    @media $md
      display none
  &-table
    border-collapse collapse
    border-spacing 0
    empty-cells show
    border 1px solid #cbcbcb
    text-align center
    width 100%
    margin 0 auto
    @media $xs
      display none
    thead
      background-color $careys-pink
      color $cosmic
      text-align left
      vertical-align bottom
      th
        font-family "Breamcatcher"
        font-size 1.7rem
    td
    th
      padding .5em 1em
      border-left 1px solid #cbcbcb
      border-bottom-width 0
      border-right-width 0
      border-top-width 0
      font-size inherit
      margin 0
      overflow visible
      text-align center
      a
        color $cosmic
        text-decoration none
        font-weight $bold

  &-list
    list-style none
    padding 0
    display none
    @media $xs
      display block
    li
      border 1px solid $cosmic
      padding 10px
      margin-bottom 10px
      border-radius 5px
      a
        color $cosmic
        text-decoration none
        font-weight $medium
    &-label
      color $cosmic
      font-weight $semibold
select
  -webkit-appearance none
  -moz-appearance none
  -ms-appearance none
  appearance none
  outline 0
  box-shadow none
  border 0 !important
  background $careys-pink
  background-image none

/* Remove IE arrow */
select-ms-expand
  display none

/* Custom Select */
.select
  position relative
  display flex
  width 20em
  height 3em
  line-height 3
  background $careys-pink
  overflow hidden
  border-radius .25em
  &:after
    content '\25BC'
    position absolute
    top 0
    right 0
    padding 0 1em
    background $careys-pink
    cursor pointer
    pointer-events none
    -webkit-transition .25s all ease
    -o-transition .25s all ease
    transition .25s all ease
    color $cosmic

  select
    flex 1
    padding 0 .5em
    color $cosmic
    cursor pointer
    font-family Breamcatcher
    font-size 1.5rem
    font-weight bold

