.recipes
  &-title
    font-family "Breamcatcher"
    text-align center
    color $cosmic
    font-size 4rem
  &-container
    display flex
    flex-wrap wrap
    justify-content space-around
    //align-items flex-start
  &-item
    flex-basis 23%
    //border 1px solid #e4e6eb/
    margin 0 0 2rem 0
    box-shadow 0px 0px 6px 0px rgba(0,0,0,0.39)
    border-radius 6px
    cursor pointer
    @media $md
      flex-basis 40%
      margin 0 0 3rem 0
    @media $sm
      flex-basis 30%
    @media $xs
      flex-basis 40%
    p
      color $strike-master
      font-weight $medium
      font-size 1.3rem
      padding 1rem
      text-align center
  &-image
    //height 269px
    padding 50% 0
    background-size: cover !important
  &-content
    margin 0 0 1.5rem 0
    span
      color $cosmic
      font-weight $bold
      margin 0 0 0.4rem 0
      display block