<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src='https://www.googletagmanager.com/gtag/js?id=G-XTC12HPMZH')
script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-XTC12HPMZH');
<!-- End Global site tag (gtag.js) - Google Analytics -->
<!-- Facebook Pixel Code -->
script.
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1138587406624490');
    fbq('track', 'PageView');
<!-- End Facebook Pixel Code -->