meta(property="title" content="Cinca® | Productos saludables hechos con amor")
meta(property="description" content="Productos saludables elaborados con ingredientes naturales de alta calidad y gran valor nutricional que te acompañan en tu camino a una vida más saludable.")
meta(property="og:site_name" content="Cinca")
meta(property="og:title" content="Cinca® | Productos saludables hechos con amor")
meta(property="og:description" content="Productos saludables elaborados con ingredientes naturales de alta calidad y gran valor nutricional que te acompañan en tu camino a una vida más saludable.")
meta(property="og:image" content="img/og_image.jpg")

