.footer
  background-color $cosmic
  display flex
  justify-content space-around
  flex-wrap wrap
  padding 50px 30px
  color white
  font-weight $semibold
  @media $sm
    justify-content center
    align-items center
  @media $xs
    flex-direction column
    padding 30px 18px
