.nav
  height 90px
  left 0
  top 0
  width 100%
  z-index 12
  background: url("../img/franja-1345x90.png")
  background-size: cover;
  @media $xs
    background: url("../img/franja-420x85.png")

  &-container
    align-items center
    display flex
    justify-content space-between
    height 100%
    padding 0 20px

  &-logo
    height 55px
    width auto
    &-container
      align-self flex-start
      margin 0.5rem 0 0 0

  &-option
    height 100%
    position relative

    &-wrapper
      display flex
      justify-content flex-end
      height 100%
      flex-basis 100%
    &-link
      height 100%
      display flex
      align-items center
      text-decoration none
      font-size 1.25rem
      font-family Poppins
      font-weight $light

      span
        text-align center
        color white
        align-self flex-end
        margin 0 0 1rem 0
        &.bar
          &:after
            font-family Poppins
            content "/"
            font-size 1.2rem
            margin 0 10px


.hamburger
  display none

  &-menu-container
  &-wrapper
  &-submenu
    display none


@media screen and (max-width: 888px)
  .nav
    height 85px
    &-logo
      height 53px
      margin 0
      &-container
        margin 1rem 0 0 0

    &-option-wrapper
      display none

  .hamburger
    &-wrapper
      display flex
      justify-content flex-end
      flex-grow 1
      height 100%

    &-line
      background-color white
      height 3px
      width 26px

      &:nth-child(2)
        margin 4px 0

      &:last-child
        width 12px

      &-container
        display flex
        flex-direction column
        justify-content center
        padding 0 1em

    &-menu
      background-color $cosmic
      width 75%
      position absolute
      top 0
      bottom 0
      right 0

      &-container
        background white
        display inline
        bottom 0
        right 0
        overflow scroll
        padding-bottom 50px
        position fixed
        top 0
        transition width 0.3s, background 0.5s
        -webkit-transition width 0.3s, background 0.5s
        width 0
        z-index 13

      &-header
        align-items center
        display flex
        flex-direction row
        justify-content flex-end
        padding 22px 15px 50px 36px
        a
          width 30px
          cursor pointer
          img
            width 100%

      &-body
        margin 0 25px

    &-text
      color white
      letter-spacing 1.5px
      white-space nowrap
      font-size 1.7rem
      font-family Breamcatcher

      &-container
        padding 15px 0

        a
          text-decoration none

#hamburgerMenu
  cursor pointer
