<template>
  <div>
    <div class="providers-filter">
      <div class="select-container">
        <div class="select">
          <select id="state" v-model="selectedStateId" name="state">
            <option disabled value="0">Selecciona un Estado</option>
            <option
              v-for="location in locations"
              :key="location.id"
              :value="location.id"
            >
              {{ location.name }}
            </option>
          </select>
        </div>
      </div>
      <video
        autoplay="autoplay"
        playsinline="playsinline"
        loop="loop"
        muted="muted"
        preload="metadata"
        src="https://res.cloudinary.com/zerocloud/video/upload/v1620337464/sale_u9fslq.mp4"
        poster="img/video-sale-cover.png"
        class="providers-video"
      >
        <source
          src="https://res.cloudinary.com/zerocloud/video/upload/v1620337464/sale_u9fslq.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <table class="providers-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Estado</th>
          <th class="providers-municipality">Municipio</th>
          <th>Enlace</th>
        </tr>
      </thead>
      <tr v-for="store in selectedStores">
        <td>{{ store.name }}</td>
        <td>{{ store.state.name }}</td>
        <td class="providers-municipality">
          {{ store.municipality }}
        </td>
        <td>
          <a
            v-if="store.state.id === 35 && store.instagram.startsWith('http')"
            :href="store.instagram"
            target="_blank"
          >
            {{ store.name }}
          </a>
          <a
            v-else-if="
              store.state.id !== 35 && !store.instagram.startsWith('http')
            "
            :href="'https://www.instagram.com/' + store.instagram + ''"
            target="_blank"
          >
            {{ store.instagram }}
          </a>
          <a
            v-else
            :href="'https://www.instagram.com/' + store.instagram + ''"
            target="_blank"
          >
            {{ store.instagram }}
          </a>
        </td>
      </tr>
    </table>
    <ul class="providers-list">
      <li v-for="store in selectedStores">
        <span class="providers-list-label">Nombre:</span>
        <span class="providers-list-text">{{ store.name }}</span> <br />
        <span class="providers-list-label">Estado:</span>
        <span class="providers-list-text">{{ store.state.name }}</span>
        <br />
        <span class="providers-list-label">Municipio:</span>
        <span class="providers-list-text">{{ store.municipality }}</span>
        <br />
        <span class="providers-list-label">Enlace:</span>
        <a
          v-if="store.state.id === 35 && store.instagram.startsWith('http')"
          :href="store.instagram"
          target="_blank"
          class="providers-list-text"
        >
          {{ store.name }}
        </a>
        <a
          v-else-if="
            store.state.id !== 35 && !store.instagram.startsWith('http')
          "
          :href="'https://www.instagram.com/' + store.instagram + ''"
          target="_blank"
          class="providers-list-text"
        >
          {{ store.instagram }}
        </a>
        <a
          v-else
          :href="'https://www.instagram.com/' + store.instagram + ''"
          target="_blank"
          class="providers-list-text"
        >
          {{ store.instagram }}
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "ProvidersComponent",
  filters: {
    capitalising: function (data) {
      let capitalized = [];
      data.split(" ").forEach((word) => {
        capitalized.push(
          word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()
        );
      });
      return capitalized.join(" ");
    },
  },
  data() {
    return {
      selectedStateId: 0,
      selectedMunicipality: 0,
      locations: [
        {
          id: 35,
          name: "Venta en línea",
        },
        {
          id: 1,
          name: "Aguascalientes",
        },
        {
          id: 2,
          name: "Baja California",
        },
        {
          id: 3,
          name: "Baja California Sur",
        },
        {
          id: 4,
          name: "CDMX",
        },
        {
          id: 5,
          name: "Campeche",
        },
        {
          id: 6,
          name: "Chiapas",
        },
        {
          id: 7,
          name: "Chihuahua",
        },
        {
          id: 8,
          name: "Coahuila",
        },
        {
          id: 9,
          name: "Colima",
        },
        {
          id: 10,
          name: "Durango",
        },
        {
          id: 11,
          name: "Estado de México",
        },
        {
          id: 13,
          name: "Guanajuato",
        },
        {
          id: 14,
          name: "Guatemala",
        },
        {
          id: 15,
          name: "Guerrero",
        },
        {
          id: 16,
          name: "Hidalgo",
        },
        {
          id: 17,
          name: "Jalisco",
        },
        {
          id: 19,
          name: "Michoacán",
        },
        {
          id: 20,
          name: "Morelos",
        },
        {
          id: 21,
          name: "Nayarit",
        },
        {
          id: 22,
          name: "Nuevo León",
        },
        {
          id: 23,
          name: "Oaxaca",
        },
        {
          id: 24,
          name: "Puebla",
        },
        {
          id: 25,
          name: "Querétaro",
        },
        {
          id: 26,
          name: "Quintana Roo",
        },
        {
          id: 27,
          name: "San Luis Potosí",
        },
        {
          id: 28,
          name: "Sinaloa",
        },
        {
          id: 29,
          name: "Sonora",
        },
        {
          id: 30,
          name: "Tabasco",
        },
        {
          id: 31,
          name: "Tamaulipas",
        },
        {
          id: 36,
          name: "Texas",
        },
        {
          id: 32,
          name: "Veracruz",
        },
        {
          id: 33,
          name: "Yucatán",
        },
        {
          id: 34,
          name: "Zacatecas",
        },
      ],
      stores: [
        {
          name: "Amazon",
          state: {
            id: 35,
            name: "Venta en línea",
          },
          municipality: "México",
          instagram:
            "https://www.amazon.com.mx/s?k=cincalimentos&__mk_es_MX=ÅMÅŽÕÑ&crid=2WBZX03JHSO9Q&sprefix=cinca%2Caps%2C255&ref=nb_sb_ss_ts-doa-p_5_5\n",
        },
        {
          name: "Walmart",
          state: {
            id: 35,
            name: "Venta en línea",
          },
          municipality: "México",
          instagram:
            "https://www.walmart.com.mx/productos?Ntt=cinca&size=24&page=0&qf=brandName:cinca",
        },
        {
          name: "BEEHEALTHY",
          state: {
            id: 1,
            name: "Aguascalientes",
          },
          municipality: "Aguascalientes",
          instagram: "beehealthydetox",
        },
        {
          name: "TERRA SANNA",
          state: {
            id: 1,
            name: "Aguascalientes",
          },
          municipality: "Aguascalientes",
          instagram: "mercadito.terrasanna",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 1,
            name: "Aguascalientes",
          },
          municipality: "Aguascalientes",
          instagram: "supernaturista",
        },
        {
          name: "VERDE TARANNA",
          state: {
            id: 1,
            name: "Aguascalientes",
          },
          municipality: "Aguascalientes",
          instagram: "verdetaranna",
        },
        {
          name: "3 RAICES",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "3raicesmx",
        },
        {
          name: "A GRANEL",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "agraneltj",
        },
        {
          name: "AVELLANA",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "avellana.tiendasaludable",
        },
        {
          name: "BALANCE NUTRITION",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "balanzemxl",
        },
        {
          name: "CACTUS MERCADITO SALUDABLE",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "cactusmercaditosaludable",
        },
        {
          name: "CARNICERIA ISLAS",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "carniceria_islas",
        },
        {
          name: "COLECTIVO 120 GRADOS",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "colectivo120grados",
        },
        {
          name: "ECORGÁNICA",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "ecorganica",
        },
        {
          name: "FELA MARKET",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "fela_market",
        },
        {
          name: "FOOD MARKET DELI",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "foodmarketdelii",
        },
        {
          name: "FRESH MERCADO ORGANICO",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "fresh.mercado.organico",
        },
        {
          name: "GIAN FOOD",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "gianfood.mx",
        },
        {
          name: "GINGER MX",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "gingergoods.mx",
        },
        {
          name: "HEALTHY LIFE",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "healthy_lifenutri",
        },
        {
          name: "HEALTHY MERCADO ORGANICO",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "healthymercado",
        },
        {
          name: "HEALTHY SPOT",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "healthyspotmxli",
        },
        {
          name: "HELLO GREEN",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "hello_green_mxli",
        },
        {
          name: "I LOVE KETO",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "iloveketomxl",
        },
        {
          name: "BIENESTAR K&K",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "bienestarkyk",
        },
        {
          name: "KETOKETO",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Ensenada",
          instagram: "ketoketo_ens",
        },
        {
          name: "KV MARKET",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "kv.market",
        },
        {
          name: "LA FLOR DE LA VIDA",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "laflordelavidatj",
        },
        {
          name: "LAVANDA BOUTIQUE",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tecate",
          instagram: "lavanda_boutique_tecate",
        },
        {
          name: "LAVANDA BOUTIQUE",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "lavandaboutiquetijuana",
        },
        {
          name: "LAVANDA BOUTIQUE",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Ensenada",
          instagram: "lavandaboutiqueensenada",
        },
        {
          name: "LAVANDA HUERTA ORGANICA",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Ensenada",
          instagram: "colectivopaseodelrio",
        },
        {
          name: "LICHA'S CAFÉ",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "lichas_cafe_en_tj_ketofriendly",
        },
        {
          name: "LOCO FOR GREENS",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "locoforgreens",
        },
        {
          name: "MERAKI TIENDA ORGANICA",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "merakitiendaorganica",
        },
        {
          name: "NECTAR ORGANICO",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Ensenada",
          instagram: "nectar_organico",
        },
        {
          name: "ORGANICS",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "organics.oficial",
        },
        {
          name: "PASILLO SANO",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "pasillosano",
        },
        {
          name: "PUNTO SELECTO",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Ensenada",
          instagram: "puntoselecto",
        },
        {
          name: "RANCHO EN CASA",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Ensenada",
          instagram: "ranchoencasa",
        },
        {
          name: "BALANCE NUTRICION",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "balanzemxl",
        },
        {
          name: "SANO &PUNTO",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "sanoypunto",
        },
        {
          name: "SEEDS",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "seedsmexico",
        },
        {
          name: "SEMILLA MADRE ORGANICA",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "semillamadreorganica",
        },
        {
          name: "SIN CULPA BOTANAS",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Tijuana",
          instagram: "sinculpabotanas",
        },
        {
          name: "SOY ORGANICO",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "soyorganico.mxl",
        },
        {
          name: "THEA GREEN",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "theagreenmx",
        },
        {
          name: "VIVE ORGANICO",
          state: {
            id: 2,
            name: "Baja California",
          },
          municipality: "Mexicali",
          instagram: "viveorganicomxli",
        },
        {
          name: "AMARANTO",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "Mulegé",
          instagram: "a_amaranto_",
        },
        {
          name: "CAFÉ CABO",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "Cabo San Lucas",
          instagram: "cafecabobcs",
        },
        {
          name: "CALIPSO MINIMART",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "La Paz",
          instagram: "calipso_minimart",
        },
        {
          name: "DULCE NATURAL",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "La Paz",
          instagram: "dulcenaturalpz",
        },
        {
          name: "FITTOWN MARKET",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "La Paz",
          instagram: "fittownmarket",
        },
        {
          name: "HAPPY FIT",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "Los Cabos",
          instagram: "happyfit.bcs",
        },
        {
          name: "HAPPY HABIST CLUB",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "Los Cabos",
          instagram: "happyhabitsclub",
        },
        {
          name: "LA VERDE",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "Cd. Constitucion",
          instagram: "laverdemx19",
        },
        {
          name: "MEDICINA NUTRICIONAL",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "La Paz",
          instagram: "karengonzalezju",
        },
        {
          name: "MY KETO LIFFE",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "La Paz",
          instagram: "my_ketolife_lpz",
        },
        {
          name: "NUTRIMARKET",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "La Paz",
          instagram: "nutrimarketlapaz",
        },
        {
          name: "ORGANIC REPUBLIC MARKET",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "La Paz",
          instagram: "organicrepublicbcs",
        },
        {
          name: "SANUS MARKET",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "La Paz",
          instagram: "sanus.market",
        },
        {
          name: "SITIO ORGANIKO",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "Guerrero Negro",
          instagram: "sitio_organikobcs",
        },
        {
          name: "VERDE MAIA",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "Los Cabos",
          instagram: "verdemaia.mx",
        },
        {
          name: "VITASSANO",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "La Paz",
          instagram: "vitassano",
        },
        {
          name: "YO AMO KETO",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "La Paz",
          instagram: "yo_amo_keto",
        },
        {
          name: "ZORA ORGANIC PRODUCTS",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "Los Cabos",
          instagram: "zora_organic_products",
        },
        {
          name: "HEALTHY GREEN MARKET",
          state: {
            id: 3,
            name: "Baja California Sur",
          },
          municipality: "Cabo San Lucas",
          instagram: "healthygreenmarket",
        },
        {
          name: "ARANCIATTA",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Cuauhtémoc",
          instagram: "aranciatta.mx",
        },
        {
          name: "BIENESTA",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Benito Juárez",
          instagram: "bienestamexico",
        },
        {
          name: "BREKKY SNACKS",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Cuauhtémoc",
          instagram: "brekky_snacks",
        },
        {
          name: "CANASTA MADRE",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Benito Juárez",
          instagram: "canastamadre",
        },
        {
          name: "GREEN PARADISE",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Benito Juárez",
          instagram: "greenparadisemx",
        },
        {
          name: "GREEN REPUBLIC",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Álvaro Obregón             Miguel Hidalgo",
          instagram: "greenrepublicmx",
        },
        {
          name: "HADASA GOURMET",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Benito Juárez",
          instagram: "hadasagourmet",
        },
        {
          name: "HEALTHY BOUTIQUE",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality:
            "Álvaro Obregón             Cuajimalpa                         Miguel Hidalgo",
          instagram: "healthyboutiq",
        },
        {
          name: "KELTH",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality:
            "Benito Juarez                  Coyoacán                      Magdalena Contreras",
          instagram: "kelthmx",
        },
        {
          name: "LA SELECTA ORGÁNICA",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Miguel Hidalgo",
          instagram: "laselectaorganica",
        },
        {
          name: "LIGHT & LITE",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Cuajimalpa",
          instagram: "litelightmx",
        },
        {
          name: "MACA",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Álvaro Obregón",
          instagram: "maca.gourmet",
        },
        {
          name: "MORA MORA",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Álvaro Obregón",
          instagram: "moramora_mx",
        },
        {
          name: "MR. TOFU",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Miguel Hidalgo",
          instagram: "mr.tofupolanco",
        },
        {
          name: "OC MARKET",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Cuauhtémoc",
          instagram: "ocmarket",
        },
        {
          name: "ODAI KATO",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Benito Juárez",
          instagram: "nutriologaodaikato",
        },
        {
          name: "ORGANIC TRADE",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Cuauhtémoc",
          instagram: "orga_nictrade",
        },
        {
          name: "RAW REPUBLIC",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Cuajimalpa",
          instagram: "rawrepublicmx",
        },
        {
          name: "SNCK BAR",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Coyoacán",
          instagram: "snckbar.lovers",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Múltiples sucursales",
          instagram: "supernaturista",
        },
        {
          name: "TERRA NATURA",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Álvaro Obregón",
          instagram: "terranatura.mx",
        },
        {
          name: "VERUM",
          state: {
            id: 4,
            name: "CDMX",
          },
          municipality: "Cuauhtémoc",
          instagram: "tiendasverum",
        },
        {
          name: "GOOD EXPRESS",
          state: {
            id: 35,
            name: "Venta en línea",
          },
          municipality: "CDMX",
          instagram: "goodexpress",
        },
        {
          name: "INNATA",
          state: {
            id: 35,
            name: "Venta en línea",
          },
          municipality: "CDMX",
          instagram: "innatamx",
        },
        {
          name: "KRISHNA",
          state: {
            id: 35,
            name: "Venta en línea",
          },
          municipality: "CDMX",
          instagram: "krishnamex",
        },
        {
          name: "RAICES DEL HUERTO",
          state: {
            id: 35,
            name: "Venta en línea",
          },
          municipality: "CDMX",
          instagram: "raicesdelhuerto",
        },
        {
          name: "MATCHA SNACKS",
          state: {
            id: 5,
            name: "Campeche",
          },
          municipality: "Campeche",
          instagram: "matcha.snacks",
        },
        {
          name: "MERCA-CHITO",
          state: {
            id: 5,
            name: "Campeche",
          },
          municipality: "Ciudad del Carmen",
          instagram: "mercachito",
        },
        {
          name: "SIRENA CARAMELO",
          state: {
            id: 5,
            name: "Campeche",
          },
          municipality: "Campeche",
          instagram: "sirenacaramelocamp",
        },
        {
          name: "BASICOSS",
          state: {
            id: 6,
            name: "Chiapas",
          },
          municipality: "Tuxtla Gutiérrez",
          instagram: "basicossmx",
        },
        {
          name: "HOME GREEN HOME",
          state: {
            id: 6,
            name: "Chiapas",
          },
          municipality: "Tuxtla Gutiérrez",
          instagram: "homegreenhome.mx",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 6,
            name: "Chiapas",
          },
          municipality: "Tapachula",
          instagram: "",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 6,
            name: "Chiapas",
          },
          municipality: "Tuxtla Gutiérrez",
          instagram: "supernaturista",
        },
        {
          name: "LOVEGANICS",
          state: {
            id: 6,
            name: "Chiapas",
          },
          municipality: "Tapachula",
          instagram: "loveganics.tap",
        },
        {
          name: "ORGÁNICO YUMEE",
          state: {
            id: 6,
            name: "Chiapas",
          },
          municipality: "Tuxtla Gutiérrez",
          instagram: "organicoyumee",
        },
        {
          name: "SÚPER ORGÁNICO",
          state: {
            id: 6,
            name: "Chiapas",
          },
          municipality: "Tuxtla Gutiérrez",
          instagram: "superorganicobygaby",
        },
        {
          name: "AL SUPER",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Chihuahua",
          instagram: "alsuperoficial",
        },
        {
          name: "BALAN-C",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Buenaventura",
          instagram: "balance_nutrisalud1",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "CHihuahua",
          instagram: "supernaturista",
        },
        {
          name: "CHICKEN FARM",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Chihuahua",
          instagram: "chicken.farm.cuu",
        },
        {
          name: "ED NUTRITION",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Ciudad Juárez",
          instagram: "ed.nutrition",
        },
        {
          name: "FARMACIA EQUILIBRA",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Chihuahua",
          instagram: "equilibra.mx",
        },
        {
          name: "GELOS MARKET",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Chihuahua",
          instagram: "gelosmarket",
        },
        {
          name: "GREEN MARKET",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Ciudad Juárez",
          instagram: "greenmarketjrz",
        },
        {
          name: "HEALTHYLICIOUS",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Ciudad Juárez",
          instagram: "healthyliciousshop",
        },
        {
          name: "KALA HEALTHY MARKET",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Chihuahua",
          instagram: "kala_healthymarket",
        },
        {
          name: "LA ARDILLA DE CHIHUAHUA",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Chihuahua",
          instagram: "laardilladechihuahua",
        },
        {
          name: "LETT-UCE BE",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Chihuahua",
          instagram: "lett_uce_be",
        },
        {
          name: "NATURA SHOP",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Ciudad Juárez",
          instagram: "natura_shop_jrz",
        },
        {
          name: "NATURAL ME",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Ciudad Juárez",
          instagram: "naturalmejrz",
        },
        {
          name: "SUNRISESNAX",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Ciudad Juárez",
          instagram: "sunrisesnax",
        },
        {
          name: "D´NONNA GLUTEN FREE",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Ciudad Juárez",
          instagram: "dnonna_keto",
        },
        {
          name: "ONÁ PRODUCTOS SALUDABLES",
          state: {
            id: 7,
            name: "Chihuahua",
          },
          municipality: "Cuahutémoc",
          instagram: "onacuau",
        },
        {
          name: "El GIRASOL",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Torreón",
          instagram: "elgirasoloficial",
        },
        {
          name: "GREEN DELICATTO",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Saltillo",
          instagram: "greendelicatto",
        },
        {
          name: "LA ESQUINITA ORGANICA",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Torreón",
          instagram: "laesquinitaorganica",
        },
        {
          name: "LA ESQUINITA ORGANICA",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Saltillo",
          instagram: "laesquinitaorganica",
        },
        {
          name: "LET'S B FIT",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Ciudad Acuña",
          instagram: "_letsbfitbybrizza",
        },
        {
          name: "MAS NATURAL",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Ciudad Acuña",
          instagram: "masnaturalshop",
        },
        {
          name: "MEAT HOUSE",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Piedras Negras",
          instagram: "meathouse_pn",
        },
        {
          name: "MERCADITO GOURMET",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Torreón",
          instagram: "mercaditogourmettrc",
        },
        {
          name: "MERCADO SANO",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Saltillo",
          instagram: "mercadosanosaltillo",
        },
        {
          name: "MR.SABOR",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Torreón",
          instagram: "mrsabor.mx",
        },
        {
          name: "NATUVE",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Piedras Negras",
          instagram: "natuvemx",
        },
        {
          name: "TERRA SANNA",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Torreón",
          instagram: "terrasanna.mx",
        },
        {
          name: "VERDE LIMON",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Monclova",
          instagram: "verdelimon.mva",
        },
        {
          name: "TERRA VERDE ORGANICO",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Saltillo",
          instagram: "terraverdeorganicos",
        },
        {
          name: "VIZANA NUTRITION",
          state: {
            id: 8,
            name: "Coahuila",
          },
          municipality: "Monclova",
          instagram: "mitiendavizana",
        },
        {
          name: "GREEN AND GOLD",
          state: {
            id: 9,
            name: "Colima",
          },
          municipality: "Manzanillo",
          instagram: "greenandgold_mx",
        },
        {
          name: "LA BODEGUITA NATURAL",
          state: {
            id: 10,
            name: "Durango",
          },
          municipality: "Durango",
          instagram: "labodeguitanatural",
        },
        {
          name: "DELI KITCHEN",
          state: {
            id: 10,
            name: "Durango",
          },
          municipality: "Durango",
          instagram: "delikitchen.mx",
        },
        {
          name: "MARISCOS EL ABUELO",
          state: {
            id: 10,
            name: "Durango",
          },
          municipality: "Durango",
          instagram: "mariscoselabuelo",
        },
        {
          name: "TU SUPER SANO",
          state: {
            id: 11,
            name: "Estado de México",
          },
          municipality: "Toluca",
          instagram: "tu_super_sano",
        },
        {
          name: "KELTH",
          state: {
            id: 11,
            name: "Estado de México",
          },
          municipality: "Huixquilucan",
          instagram: "kelthmx",
        },
        {
          name: "LIGHT Y KOSHER",
          state: {
            id: 11,
            name: "Estado de México",
          },
          municipality: "Huixquilucan",
          instagram: "dulceriamifiesta",
        },
        {
          name: "MANDUCARE",
          state: {
            id: 11,
            name: "Estado de México",
          },
          municipality: "Metepec",
          instagram: "manducareorganico",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 11,
            name: "Estado de México",
          },
          municipality: "Múltiples sucursales",
          instagram: "supernaturista",
        },
        {
          name: "RÚCULA",
          state: {
            id: 11,
            name: "Estado de México",
          },
          municipality: "Metepec",
          instagram: "rucula_bar",
        },
        {
          name: "VERDE AMOR",
          state: {
            id: 11,
            name: "Estado de México",
          },
          municipality: "Satélite",
          instagram: "verdeamormx",
        },
        {
          name: "BASHIRA TIENDA Y COCINA",
          state: {
            id: 13,
            name: "Guanajuato",
          },
          municipality: "León",
          instagram: "bashiratyc",
        },
        {
          name: "BIOSFERA COLECTIVO",
          state: {
            id: 13,
            name: "Guanajuato",
          },
          municipality: "León",
          instagram: "biosferacolectivo",
        },
        {
          name: "GREEN NATURAL MARKET",
          state: {
            id: 13,
            name: "Guanajuato",
          },
          municipality: "Celaya",
          instagram: "green_natural_market",
        },
        {
          name: "LA LUNA DE QUESO",
          state: {
            id: 13,
            name: "Guanajuato",
          },
          municipality: "San Miguel de Allende",
          instagram: "lunadequeso.sma",
        },
        {
          name: "MEDINTEGRA",
          state: {
            id: 13,
            name: "Guanajuato",
          },
          municipality: "León",
          instagram: "alexanutres",
        },
        {
          name: "MONKFOOD",
          state: {
            id: 13,
            name: "Guanajuato",
          },
          municipality: "León",
          instagram: "monkfood.mx",
        },
        {
          name: "OWLNESSLEON",
          state: {
            id: 13,
            name: "Guanajuato",
          },
          municipality: "León",
          instagram: "Owlnessleon",
        },
        {
          name: "ORGANI-K & HEALTHY KITCHEN",
          state: {
            id: 13,
            name: "Guanajuato",
          },
          municipality: "Irapuato",
          instagram: "organikirapuato",
        },
        {
          name: "VIVE TU MARKET",
          state: {
            id: 14,
            name: "Guatemala",
          },
          municipality: "Guatemala",
          instagram: "vive.tumarket.gt",
        },
        {
          name: "A.P NUTRITION",
          state: {
            id: 14,
            name: "Guatemala",
          },
          municipality: "Guatemala",
          instagram: "a.pnutrition",
        },
        {
          name: "PRODUMEXICAN",
          state: {
            id: 14,
            name: "Guatemala",
          },
          municipality: "Guatemala",
          instagram: "produmexican",
        },
        {
          name: "KUNI BIENESTAR",
          state: {
            id: 15,
            name: "Guerrero",
          },
          municipality: "Acapulco",
          instagram: "kuni.bienestar",
        },
        {
          name: "LA ORGÁNICA",
          state: {
            id: 15,
            name: "Guerrero",
          },
          municipality: "Ometepec",
          instagram: "laorganica.mx",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 15,
            name: "Guerrero",
          },
          municipality: "Acapulco",
          instagram: "supernaturista",
        },
        {
          name: "SALUD INTEGRAL",
          state: {
            id: 15,
            name: "Guerrero",
          },
          municipality: "Acapulco",
          instagram: "saludintegralnwc",
        },
        {
          name: "SUPERFOODS",
          state: {
            id: 15,
            name: "Guerrero",
          },
          municipality: "Acapulco",
          instagram: "superfoods.acapulco",
        },
        {
          name: "PUNTO SANO",
          state: {
            id: 16,
            name: "Hidalgo",
          },
          municipality: "Tulancingo",
          instagram: "puntosanotulacingo",
        },
        {
          name: "TIERREV ORGANIC MARKET",
          state: {
            id: 16,
            name: "Hidalgo",
          },
          municipality: "Pachuca",
          instagram: "tierrevorganicmarket",
        },
        {
          name: "ALIMENTACION ALTERNATIVA",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Zapopan",
          instagram: "alimentacionalter",
        },
        {
          name: "ALIEZI",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Zapopan",
          instagram: "alieziproductossaludables",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Guadalajara",
          instagram: "supernaturista",
        },
        {
          name: "CASA HUAZOTL",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Ciudad Guzmán",
          instagram: "casahuazotl",
        },
        {
          name: "CREMERIA XAVIERA",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "San Miguel El Alto",
          instagram: "cremeriaxaviera",
        },
        {
          name: "O-MART",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Zapopan",
          instagram: "omart_ecomarket",
        },
        {
          name: "ESTACION 11:11",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Zapopan",
          instagram: "laestacion1111",
        },
        {
          name: "FLOR DE SAAL",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Zapopan",
          instagram: "flordesaalgdl",
        },
        {
          name: "FRESH LOVERS",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Guadalajara",
          instagram: "freshloversmx",
        },
        {
          name: "GIO NUTRICION",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Zapopan",
          instagram: "gio_nutricion",
        },
        {
          name: "HEARTYKIDSMX",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Guadalajara",
          instagram: "heartykidsmx",
        },
        {
          name: "HEALTHY PICK FORD KIDS",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Guadalajara",
          instagram: "healthyopia",
        },
        {
          name: "MERCADO 14",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Zapopan",
          instagram: "mercado.14",
        },
        {
          name: "MPK NUTRITION",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Zapopan",
          instagram: "mpk_nutrition",
        },
        {
          name: "SUPER LUCCA DELI-MARKET",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Zapopan",
          instagram: "superlucca.c",
        },
        {
          name: "UMANCI",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Guadalajara",
          instagram: "umanci.medspa",
        },
        {
          name: "WHERE´S THE FOOD",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Guadalajara",
          instagram: "wtf_gdl",
        },
        {
          name: "HOJA FRESCA",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Zapopan",
          instagram: "hoja_fresca",
        },
        {
          name: "GAIA ECO STORE",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Guadalajara",
          instagram: "gaiaecostore",
        },
        {
          name: "ARLIFOOD",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Zapopan",
          instagram: "arlifood",
        },
        {
          name: "PETIT MARCHE",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Zapopan",
          instagram: "petitmarchedeli",
        },
        {
          name: "CUATRO BIOMARKET",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Guadalajara",
          instagram: "cuatro.biomarket",
        },
        {
          name: "NUTRIÓLOGA LISANDRA ZAMORA",
          state: {
            id: 17,
            name: "Jalisco",
          },
          municipality: "Guadalajara",
          instagram: "nutriologalisandrazamora",
        },
        {
          name: "DULCE SALUD",
          state: {
            id: 19,
            name: "Michoacán",
          },
          municipality: "Lázaro Cardenas",
          instagram: "dulcesalud.lzc",
        },
        {
          name: "GREEN MARKET",
          state: {
            id: 19,
            name: "Michoacán",
          },
          municipality: "Morelia",
          instagram: "my.greenmarket",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 19,
            name: "Michoacán",
          },
          municipality: "Morelia",
          instagram: "supernaturista",
        },
        {
          name: "MELDI MARKET",
          state: {
            id: 19,
            name: "Michoacán",
          },
          municipality: "Lázaro Cardenas",
          instagram: "meldimarket",
        },
        {
          name: "MERKA MAGS",
          state: {
            id: 19,
            name: "Michoacán",
          },
          municipality: "Los Reyes del Salgado",
          instagram: "merka_mags",
        },
        {
          name: "SIETE TALLOS",
          state: {
            id: 19,
            name: "Michoacán",
          },
          municipality: "Zamora",
          instagram: "sietetallos",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 20,
            name: "Morelos",
          },
          municipality: "Cuernavaca",
          instagram: "supernaturista",
        },
        {
          name: "ALMOND PINK",
          state: {
            id: 20,
            name: "Morelos",
          },
          municipality: "Cuautla",
          instagram: "almondpinkom",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 21,
            name: "Nayarit",
          },
          municipality: "Tepic",
          instagram: "supernaturista",
        },
        {
          name: "VIVE SANO",
          state: {
            id: 21,
            name: "Nayarit",
          },
          municipality: "Tepic",
          instagram: "vive_sano_tepic",
        },
        {
          name: "AGUA CHILLS",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "Monterrey",
          instagram: "aguachillsmty",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "Monterrey",
          instagram: "supernaturista",
        },
        {
          name: "BALANCE",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "Santiago",
          instagram: "balance_nutrisalud1",
        },
        {
          name: "CAMILA AL NATURAL",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "Monterrey",
          instagram: "camilaalnatural",
        },
        {
          name: "C-NUTRITION",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "Monterrey",
          instagram: "cnutrition",
        },
        {
          name: "COCINA PRACTICA",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "Guadalupe",
          instagram: "scc_cocina_practica_contry_",
        },
        {
          name: "DELIKITCKEN",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "Guadalupe",
          instagram: "delikitchen.cr",
        },
        {
          name: "EL ENTREMES ALIMENTOS",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "San Pedro Garza",
          instagram: "entremesspgg",
        },
        {
          name: "JUGEN",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "San Pedro Garza",
          instagram: "jugenmx",
        },
        {
          name: "LA MANZANA SANA",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "Monterrey",
          instagram: "lamanzanasanaoficial",
        },
        {
          name: "LA TIENDITA VERDE",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "Linares",
          instagram: "latienditaverde7",
        },
        {
          name: "MALVA",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "San Pedro Garza",
          instagram: "malva.mo",
        },
        {
          name: "META SALUD",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "San Pedro Garza",
          instagram: "metasaludfood",
        },
        {
          name: "NUTRIHELP",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "Santiago",
          instagram: "nutriologamayela",
        },
        {
          name: "SALUT",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "San Pedro Garza",
          instagram: "salutdistribucion",
        },
        {
          name: "SLIMARKET",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "Monterrey",
          instagram: "slimarket",
        },
        {
          name: "SUPER MODE",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "San Pedro Garza",
          instagram: "modesuper_",
        },
        {
          name: "SUPER SALUDABLE",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "San Pedro Garza",
          instagram: "misupersaludableorganico",
        },
        {
          name: "VANELA",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "San Pedro Garza",
          instagram: "vanelahealthy",
        },
        {
          name: "TIENDAS DON MARIO",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "Monterrey",
          instagram: "alimentosdonmario",
        },
        {
          name: "VENA ORGANICA",
          state: {
            id: 22,
            name: "Nuevo León",
          },
          municipality: "Monterrey",
          instagram: "venaorganicamx",
        },
        {
          name: "BIIDXI",
          state: {
            id: 23,
            name: "Oaxaca",
          },
          municipality: "El Espinal",
          instagram: "biidxi5",
        },
        {
          name: "ORGÁNICA DE ALI",
          state: {
            id: 23,
            name: "Oaxaca",
          },
          municipality: "Oaxaca",
          instagram: "organicadeali",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 24,
            name: "Puebla",
          },
          municipality: "Puebla",
          instagram: "supernaturista",
        },
        {
          name: "EQUILIBRAT",
          state: {
            id: 24,
            name: "Puebla",
          },
          municipality: "Puebla",
          instagram: "equilibrat.mx",
        },
        {
          name: "MERCADITO FRESHSTAR",
          state: {
            id: 24,
            name: "Puebla",
          },
          municipality: "Puebla",
          instagram: "mercaditofreshstar",
        },
        {
          name: "MR. TOFU",
          state: {
            id: 24,
            name: "Puebla",
          },
          municipality: "Puebla",
          instagram: "mrtofupuebla",
        },
        {
          name: "SEEDS",
          state: {
            id: 24,
            name: "Puebla",
          },
          municipality: "Puebla",
          instagram: "seeds_mx",
        },
        {
          name: "MR. TOFU",
          state: {
            id: 25,
            name: "Querétaro",
          },
          municipality: "Querétaro",
          instagram: "mr.tofuqueretaro",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 25,
            name: "Querétaro",
          },
          municipality: "Querétaro",
          instagram: "supernaturista",
        },
        {
          name: "ORGÁNICO Y SANO",
          state: {
            id: 25,
            name: "Querétaro",
          },
          municipality: "Querétaro",
          instagram: "organicoysano",
        },
        {
          name: "YSI SÚPER",
          state: {
            id: 25,
            name: "Querétaro",
          },
          municipality: "Querétaro",
          instagram: "ysi.super",
        },
        {
          name: "ABA MARKET",
          state: {
            id: 26,
            name: "Quintana Roo",
          },
          municipality: "Cancún",
          instagram: "abamarketcun",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 26,
            name: "Quintana Roo",
          },
          municipality: "Cancún",
          instagram: "supernaturista",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 26,
            name: "Quintana Roo",
          },
          municipality: "Chetumal",
          instagram: "supernaturista",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 26,
            name: "Quintana Roo",
          },
          municipality: "Playa del Carmen",
          instagram: "supernaturista",
        },
        {
          name: "LA CUISINE",
          state: {
            id: 26,
            name: "Quintana Roo",
          },
          municipality: "Cozumel",
          instagram: "lacuisinecozumel",
        },
        {
          name: "VIVA LO ORGÁNICO",
          state: {
            id: 26,
            name: "Quintana Roo",
          },
          municipality: "Cancún",
          instagram: "viva_lo_organico",
        },
        {
          name: "BIOTICA",
          state: {
            id: 27,
            name: "San Luis Potosí",
          },
          municipality: "San Luis Potosí",
          instagram: "bioticamx",
        },
        {
          name: "CUESCO",
          state: {
            id: 27,
            name: "San Luis Potosí",
          },
          municipality: "San Luis Potosí",
          instagram: "cuescoslp",
        },
        {
          name: "RINCON ORGANICO",
          state: {
            id: 27,
            name: "San Luis Potosí",
          },
          municipality: "San Luis Potosí",
          instagram: "rincon.or",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 27,
            name: "San Luis Potosí",
          },
          municipality: "San Luis Potosí",
          instagram: "supernaturista",
        },
        {
          name: "VIDASANA",
          state: {
            id: 27,
            name: "San Luis Potosí",
          },
          municipality: "Río Verde",
          instagram: "vidasana_rio",
        },
        {
          name: "NUT. ALE GOVEA",
          state: {
            id: 27,
            name: "San Luis Potosí",
          },
          municipality: "Río Verde",
          instagram: "alegoveanutriologa",
        },
        {
          name: "ALL NATURAL ORGANIC MARKET",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Los Mochis",
          instagram: "all.natural.market",
        },
        {
          name: "AMOR Y PAN",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Mazatlán",
          instagram: "amorypan_mzt",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Culiacán",
          instagram: "supernaturista",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Mazatlán",
          instagram: "supernaturista",
        },
        {
          name: "BEE ORGANIC",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Los Mochis",
          instagram: "beeorganic_tienda",
        },
        {
          name: "BEST LIFE ORGANIKA",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Mazatlán",
          instagram: "bestlife_organika",
        },
        {
          name: "COCINA SANTA LOURDES",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Culiacán",
          instagram: "cocinasantalourdescln",
        },
        {
          name: "LA HUERTA VERDE",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Culiacán",
          instagram: "lahuertaverde.culiacan",
        },
        {
          name: "MI MERCADITO",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Culiacán",
          instagram: "mimercaditocln",
        },
        {
          name: "MI SUPER SALUDABLE ORGANICO",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Guasave",
          instagram: "misupersaludableorganico",
        },
        {
          name: "MI TIERRA",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Culiacán",
          instagram: "mitierraverdeorganica",
        },
        {
          name: "ORGANIC HOUSE",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Culiacán",
          instagram: "organichousemx",
        },
        {
          name: "SANA NUTRICION Y TENTACION",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Mazatlán",
          instagram: "sananutricionytentacion",
        },
        {
          name: "TRES ISLAS",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Mazatlán",
          instagram: "tresislasnatusnack",
        },
        {
          name: "VERDE ORGANICA",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Los Mochis",
          instagram: "verdeorganica",
        },
        {
          name: "VERDEMIO HEALTHY BAR",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Culiacán",
          instagram: "verdemio.mx",
        },
        {
          name: "VILLA FIT",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Mazatlán",
          instagram: "lipoblue.villafit",
        },
        {
          name: "VIT-SNACKS",
          state: {
            id: 28,
            name: "Sinaloa",
          },
          municipality: "Guasave",
          instagram: "vitsnacks",
        },
        {
          name: "A GRANEL",
          state: {
            id: 29,
            name: "Sonora",
          },
          municipality: "Navojoa",
          instagram: "agranelnavojoa",
        },
        {
          name: "DISFRUTABLE COCINA SALUDABLE",
          state: {
            id: 29,
            name: "Sonora",
          },
          municipality: "Hermosillo",
          instagram: "disfrutablehmo",
        },
        {
          name: "GREEN BOX",
          state: {
            id: 29,
            name: "Sonora",
          },
          municipality: "Nogales",
          instagram: "Romalu.healthyzone",
        },
        {
          name: "HEALTH & FIT SUPERFOODS",
          state: {
            id: 29,
            name: "Sonora",
          },
          municipality: "Guaymas",
          instagram: "healthandfitsuperfoods",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 29,
            name: "Sonora",
          },
          municipality: "Hermosillo",
          instagram: "supernaturista",
        },
        {
          name: "HEALTHH.MART",
          state: {
            id: 29,
            name: "Sonora",
          },
          municipality: "San Luis Río Colorado",
          instagram: "healthh.mart",
        },
        {
          name: "FIT BAKERY",
          state: {
            id: 29,
            name: "Sonora",
          },
          municipality: "Hermosillo",
          instagram: "fit_fitbakery",
        },
        {
          name: "MESANA ORGANICO Y NATURAL",
          state: {
            id: 29,
            name: "Sonora",
          },
          municipality: "Navojoa",
          instagram: "mesanaorganicoynaturalnavojoa",
        },
        {
          name: "OYS TIENDA ORGANICA",
          state: {
            id: 29,
            name: "Sonora",
          },
          municipality: "San Luis Río Colorado",
          instagram: "organicosysaludables",
        },
        {
          name: "PAPALOTL NOGALES, SONORA",
          state: {
            id: 29,
            name: "Sonora",
          },
          municipality: "Nogales",
          instagram: "papalotlconceptstore",
        },
        {
          name: "THE SHOP",
          state: {
            id: 29,
            name: "Sonora",
          },
          municipality: "Nogales",
          instagram: "theshopnogales",
        },
        {
          name: "NATTU",
          state: {
            id: 29,
            name: "Sonora",
          },
          municipality: "Nogales",
          instagram: "nattu.mercadoorganico",
        },
        {
          name: "VP GLOBAL",
          state: {
            id: 29,
            name: "Sonora",
          },
          municipality: "San Luis Río Colorado",
          instagram: "vpglobal_distribuidora",
        },
        {
          name: "ECOAMAZONAS",
          state: {
            id: 29,
            name: "Sonora",
          },
          municipality: "Hermosillo",
          instagram: "ecoamazonas",
        },
        {
          name: "BEEFIT",
          state: {
            id: 30,
            name: "Tabasco",
          },
          municipality: "Villahermosa",
          instagram: "beefitmx",
        },
        {
          name: "GREEN HOUSE",
          state: {
            id: 30,
            name: "Tabasco",
          },
          municipality: "Villahermosa",
          instagram: "greenhouse.vh",
        },
        {
          name: "HEALTHY CORNER",
          state: {
            id: 30,
            name: "Tabasco",
          },
          municipality: "Villahermosa",
          instagram: "healthycornertab",
        },
        {
          name: "HEALTHY SNACK",
          state: {
            id: 30,
            name: "Tabasco",
          },
          municipality: "Villahermosa",
          instagram: "healthysnack.mx",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 30,
            name: "Tabasco",
          },
          municipality: "Villahermosa",
          instagram: "supernaturista",
        },
        {
          name: "I AM HEALTHY",
          state: {
            id: 30,
            name: "Tabasco",
          },
          municipality: "Villahermosa",
          instagram: "i.amhealthy",
        },
        {
          name: "LENE FOODS",
          state: {
            id: 30,
            name: "Tabasco",
          },
          municipality: "Villahermosa",
          instagram: "lenefoods",
        },
        {
          name: "LOVEGANICS",
          state: {
            id: 30,
            name: "Tabasco",
          },
          municipality: "Villahermosa",
          instagram: "loveganics",
        },
        {
          name: "SANONLINE",
          state: {
            id: 30,
            name: "Tabasco",
          },
          municipality: "Villahermosa",
          instagram: "sanonline__",
        },
        {
          name: "BRADSHOP",
          state: {
            id: 31,
            name: "Tamaulipas",
          },
          municipality: "Tampico",
          instagram: "lauradebradshop",
        },
        {
          name: "EL SEMILLERO",
          state: {
            id: 31,
            name: "Tamaulipas",
          },
          municipality: "Nuevo Laredo",
          instagram: "el_semillero_snackssaludables",
        },
        {
          name: "HEALTHY STORE",
          state: {
            id: 31,
            name: "Tamaulipas",
          },
          municipality: "Ciudad Victoria",
          instagram: "Healthystore23",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 31,
            name: "Tamaulipas",
          },
          municipality: "Tampico",
          instagram: "supernaturista",
        },
        {
          name: "MONCADA ECOSHOP",
          state: {
            id: 31,
            name: "Tamaulipas",
          },
          municipality: "Valle Hermoso",
          instagram: "moncadasshop",
        },
        {
          name: "NATIVA TAMPICO",
          state: {
            id: 31,
            name: "Tamaulipas",
          },
          municipality: "Tampico",
          instagram: "N_a_t_i_v_a",
        },
        {
          name: "ORGANICO TAMPICO",
          state: {
            id: 31,
            name: "Tamaulipas",
          },
          municipality: "Tampico",
          instagram: "dra.astridtorres",
        },
        {
          name: "ORGANIMARKET",
          state: {
            id: 31,
            name: "Tamaulipas",
          },
          municipality: "Tampico",
          instagram: "organicmarketmx",
        },
        {
          name: "PUNTO VERDE",
          state: {
            id: 31,
            name: "Tamaulipas",
          },
          municipality: "Ciudad Madero",
          instagram: "puntoverde.tampico",
        },
        {
          name: "ROSA BOUTIQUE ORGANICA",
          state: {
            id: 31,
            name: "Tamaulipas",
          },
          municipality: "Matamoros",
          instagram: "tiendarosa_mercadorganico",
        },
        {
          name: "SUPER ORGANICO",
          state: {
            id: 31,
            name: "Tamaulipas",
          },
          municipality: "Ciudad Victoria",
          instagram: "superorganicsto",
        },
        {
          name: "VERDE MENTA",
          state: {
            id: 31,
            name: "Tamaulipas",
          },
          municipality: "Ciudad Reynosa",
          instagram: "Verdementamx_",
        },
        {
          name: "VERDOSO MARKET",
          state: {
            id: 31,
            name: "Tamaulipas",
          },
          municipality: "Nuevo Laredo",
          instagram: "verdosomarket",
        },
        {
          name: "Marmau",
          state: {
            id: 36,
            name: "Texas",
          },
          municipality: "Laredo",
          instagram: "marmau2021",
        },
        {
          name: "5TO ELEMENTO",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Córdoba",
          instagram: "5toelementooficial",
        },
        {
          name: "ALMENDRA",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Xalapa",
          instagram: "almendrafoods",
        },
        {
          name: "DOÑA KETO",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Veracruz",
          instagram: "donaketoshop",
        },
        {
          name: "GREEN BOX",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Boca del Río",
          instagram: "greenboox",
        },
        {
          name: "GREEN TARA",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Minatitlán",
          instagram: "greentara.ver",
        },
        {
          name: "LAPOLL",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Xalapa",
          instagram: "lapoll_porsalud",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Veracruz",
          instagram: "supernaturista",
        },
        {
          name: "MADRE TIERRA",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Alvarado",
          instagram: "madretierrarivieraveracuzana",
        },
        {
          name: "NATIVA",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Boca del Río",
          instagram: "nativa.mercadofuncional",
        },
        {
          name: "NATURAL FIT",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Coatzacoalcos",
          instagram: "naturalfit_coatza",
        },
        {
          name: "PITAYA",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Boca del Río",
          instagram: "pitaya.ver",
        },
        {
          name: "QUIÉREME NATURAL",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Veracruz",
          instagram: "quieremenatural",
        },
        {
          name: "REPUBLIC OF KETO",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Poza Rica",
          instagram: "republicofketo.store",
        },
        {
          name: "SOFIT",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Boca del Río",
          instagram: "sofit.mx",
        },
        {
          name: "TIERRA VEGANA",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Coatzacoalcos",
          instagram: "tierravegana",
        },
        {
          name: "VERDE EDÉN",
          state: {
            id: 32,
            name: "Veracruz",
          },
          municipality: "Poza Rica",
          instagram: "verde_eden",
        },
        {
          name: "D´GUSTATICUL",
          state: {
            id: 33,
            name: "Yucatán",
          },
          municipality: "Mérida",
          instagram: "dgustaticul",
        },
        {
          name: "EL MERCADITO",
          state: {
            id: 33,
            name: "Yucatán",
          },
          municipality: "Mérida",
          instagram: "elmercaditomid",
        },
        {
          name: "GROEN",
          state: {
            id: 33,
            name: "Yucatán",
          },
          municipality: "Mérida",
          instagram: "groenmid",
        },
        {
          name: "HEALTHY CHOICE",
          state: {
            id: 33,
            name: "Yucatán",
          },
          municipality: "Mérida",
          instagram: "healthychoicemid",
        },
        {
          name: "HEALTHY GREEN",
          state: {
            id: 33,
            name: "Yucatán",
          },
          municipality: "Mérida",
          instagram: "healthygreenmid",
        },
        {
          name: "LINE",
          state: {
            id: 33,
            name: "Yucatán",
          },
          municipality: "Mérida",
          instagram: "lineshopmid",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 33,
            name: "Yucatán",
          },
          municipality: "Mérida",
          instagram: "supernaturista",
        },
        {
          name: "NUTRICIÓN TOTAL",
          state: {
            id: 33,
            name: "Yucatán",
          },
          municipality: "Mérida",
          instagram: "nutriciontotalmx",
        },
        {
          name: "OMME",
          state: {
            id: 33,
            name: "Yucatán",
          },
          municipality: "Mérida",
          instagram: "ommenatural",
        },
        {
          name: "PROGRESO FIT CENTER",
          state: {
            id: 33,
            name: "Yucatán",
          },
          municipality: "Progreso",
          instagram: "progresofitcenter",
        },
        {
          name: "SNACK  UP",
          state: {
            id: 33,
            name: "Yucatán",
          },
          municipality: "Mérida",
          instagram: "snackup.mx",
        },
        {
          name: "SOM",
          state: {
            id: 33,
            name: "Yucatán",
          },
          municipality: "Mérida",
          instagram: "somfoods",
        },
        {
          name: "VIDA PURA",
          state: {
            id: 33,
            name: "Yucatán",
          },
          municipality: "Mérida",
          instagram: "vida.pura.mid",
        },
        {
          name: "CENTRAL VERDE",
          state: {
            id: 34,
            name: "Zacatecas",
          },
          municipality: "Morelos",
          instagram: "central_verde_",
        },
        {
          name: "SUPERNATURISTA",
          state: {
            id: 34,
            name: "Zacatecas",
          },
          municipality: "Zacatecas",
          instagram: "supernaturista",
        },
        {
          name: "COME BONITO",
          state: {
            id: 34,
            name: "Zacatecas",
          },
          municipality: "Guadalupe",
          instagram: "comebonitozac",
        },
      ],
    };
  },
  computed: {
    selectedStores() {
      let storesByState = [];
      let storesByMunicipality = [];
      if (this.selectedStateId > 0) {
        for (let i = 0; i < this.stores.length; i++) {
          let st = this.stores[i];
          if (st.state.id === this.selectedStateId) {
            storesByState.push(st);
          }
        }
      }
      if (this.selectedMunicipality > 0) {
        for (let i = 0; i < storesByState.length; i++) {
          let stm = storesByState[i];
          if (stm.municipality) {
            if (stm.municipality.id === this.selectedMunicipality) {
              storesByMunicipality.push(stm);
            }
          }
        }
      }
      if (storesByMunicipality.length > 0) {
        return storesByMunicipality;
      } else if (storesByState.length > 0) {
        return storesByState;
      } else {
        return this.stores;
      }
    },
  },
};
</script>

<style scoped></style>