.page-content
  min-height calc(100vh - calc(90px + 109px))
  @media $xs
    min-height calc(100vh - calc(49px + 109px))
.container
  width 1170px
  padding-bottom 50px
  overflow auto
  margin-left auto
  margin-right auto
  @media $lg
    width 940px
  @media $md
    width 600px
  @media $sm
    width 100%
    padding 0 18px 70px 18px
//.container
//  margin-right auto
//  margin-left auto
//  overflow auto
//  padding-bottom 50px
//  @media screen and (max-width: 767px)
//    padding 0 18px
//  @media screen and (min-width: 768px)
//    width 600px
//  @media screen and (min-width: 962px)
//    width 940px
//  @media screen and (min-width: 1200px)
//    width 1170px

.layer
  background-color rgba(255,255,255, 0.7)
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index 1


.modal
  display none
  position fixed
  z-index 1
  left 0
  top 0
  width 100%
  height 100%
  overflow auto
  background-color rgba(0,0,0,0.4)

.modal-content
  background-color #fefefe
  margin 1% auto
  padding 20px
  border 1px solid #888
  width 60%
  align-self center
  @media $md
    width 80%

.close-modal
  color #aaa
  float right
  font-size 28px
  font-weight bold
  cursor pointer

.close:hover,
.close:focus
  color black
  text-decoration none
  cursor pointer

.g-recaptcha
  div
    margin 0 auto 20px auto